<!DOCTYPE html>
<html>

<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
  <link rel="stylesheet" href="../public/styles.css" />
  <title>D's Custom Events</title>
</head>

<body>
  <div id="app">
    <div class="notes-section">
      <div class="columns">
        <div class="column has-text-centered">
          <strong>Notes</strong>
          <div v-for="x in notes" class="notes">
            {{ x }}
          </div>
        </div>
        <div class="column has-text-centered">
          <strong>Timestamp</strong>
          <div v-for="x in timestamps" class="timestamps">
            {{ x }}
          </div>
        </div>
      </div>
      <input-component :placeholder="placeholder"></input-component>
    </div>
    <note-count-component></note-count-component>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="./main.js"></script>
</body>

</html>
